{% extends "base.html" %}

{% block content %}
<div class = "auth-container">
    <div class="auth-card">
        <h2>Create Account</h2>
        <p class="sub-text">
            Start your AI Career Journey
        </p>
        <form method="POST">
        <input type="email" name="email" placeholder="Enter your email" required>
        <input type="password" name="password" placeholder="Create a password" required>
        <p class="sub-text">Use atleast 6 characters</p>
        <button type="submit">Sign up</button>
    </form>
    <p class="switch-auth">
       Already have an account? <a href="/Login">Login</a>
    </p>
    </div>
</div>

{% endblock %}